<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49197269334-0sk4484inthjaetago521g02rv4ugdjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49197269334-0sk4484inthjaetago521g02rv4ugdjo</string>
	<key>API_KEY</key>
	<string>AIzaSyD9ixvd7ZY0Fed1YUKROtcvHiNA1rZcK6E</string>
	<key>GCM_SENDER_ID</key>
	<string>49197269334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-fe001</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-fe001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49197269334:ios:0573daf4362515ab14d6f7</string>
</dict>
</plist>